{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es2020": true
  },
  "rules": {
    // "prettier/prettier": "error",
    // "import/extensions": ["error", "ignorePackages"],
    // "object-curly-spacing": "off",
    // "require-atomic-updates": "off",
    // "comma-dangle": "off",
    // "no-shadow": "off",
    "max-classes-per-file": "off",
    "no-bitwise": "off",
    "no-plusplus": "off"
    // "no-extra-semi": "error"
  }
}
